body {
    margin: 0;
}

.pagina_inicial {
    display: flex;
    width: 100%;
    height: 100vh;
}

.container_esquerdo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 35%;
    height: 100%;
    background-color: #AD53A6;
}

.container_direito {
    width: 65%;
    height: 100%;
    background-color: #AD53A6;
    
}

.imagem_fundo{
    width: 100%;
    height: 100%;
}

.titulo {
    text-align: center; /* Alinha todo o texto do título ao centro */
}

.titulo h1,
.titulo h2 {
    margin: 0; /* Remove margens padrão dos títulos */
}

.texto,
.botao {
    margin: 10px 0; /* Adicione margem entre os elementos, se necessário */
}