@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    margin: 0;
}

.corpo_pagina2{
    width: 100%;
    height: auto;
}

.imagem-back{
    position: absolute;
    width: 100%;
    height: 100vh;

}

.barra{
    background-color: #AD53A6; /* Cor de fundo da barra de cabeçalho */
    color: #fff; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto horizontalmente */
}

.titulo_pagina{
    color: white;
    font-family: 'Quicksand';
    font-size: 20px;
}
