@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    margin: 0;
}

.pagina_inicial {
    display: flex;
    width: 100%;
    height: 100vh;
}

.container_esquerdo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 35%;
    height: 100%;
    background-color: #AD53A6;
}

.container_direito {
    width: 65%;
    height: 100%;
    background-color: #AD53A6;
    
}

.imagem_fundo{
    width: 100%;
    height: 100%;
}

.titulo {
    text-align: center; /* Alinha todo o texto do título ao centro */
}

.titulo h1,
.titulo h2 {
    margin: 0; /* Remove margens padrão dos títulos */

}

.espaco-texto{
    margin-bottom: 10px; /* Adicione margem entre os elementos, se necessário */
}
.espaco-botao {
    margin: 10px 0; /* Adicione margem entre os elementos, se necessário */
}

.botao{
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: #502779;
    padding: 10px 80px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Quicksand';
}

.botao:hover{
    background-color: #6b459a;
}

.texto{
    
    font-family: 'Quicksand';
    font-size: 30px;
    font-weight: bold;
    color: white;
    
}



.subtitulo{
    color: white;
    font-weight: bold;
    font-family: 'Quicksand';
    font-size: 25px;
    margin-bottom: 50px;
}

